doctype html
html
  head
    //tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    //assets
    link(rel="stylesheet", href="css/main.css")

    //page title
    title
      | Cepave.com
  body
    main.page_wrapper.page_wrapper--presentation-navbar
      - var selected = 'About'
      include _components/_header/_navigation_bar
      include _components/_covers/_about
      include _components/_about/_02
      include _components/_about/_03
      include _components/_about/_04
      include _components/_footer/_footer
    script(src="js/main.js", defer)
