// == START OF TEAM 02 ==
.team.team-02
  .team__title-box
    h2.team__title
      | 全員全棧
    span.team__description
      | 我們正努力讓發布與迭代加速，讓創新變得更簡單。
  .container
    .row.team__row
      .team__item.col-xs-12.col-md-6.col-lg-3
        img.team__item_img(src='img/team-type-01.svg')
        h3.team__item_title
          | G & A
        span.team__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
      .team__item.col-xs-12.col-md-6.col-lg-3
        img.team__item_img(src='img/team-type-02.svg')
        h3.team__item_title
          | COMMUNITY
        span.team__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
      .team__item.col-xs-12.col-md-6.col-lg-3
        img.team__item_img(src='img/team-type-03.svg')
        h3.team__item_title
          | ENGINEERING
        span.team__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
      .team__item.col-xs-12.col-md-6.col-lg-3
        img.team__item_img(src='img/team-type-04.svg')
        h3.team__item_title
          | PRODUCT
        span.team__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
// == END OF TEAM 02 ==
