//common styles for all headers
.header__container {
	@include clearfix;
	text-align: center;
	height: 70px;
}
.header__left_box {
	position: relative;
	z-index: 10;
	float: left;

	height: 100%;
}
.header__right_box {
	float: right;
	position: relative;
	z-index: 1;
}
.header__logo_box  {
	margin-top: 12px;
	display: inline-block;
	overflow: hidden;
}
$brand-height: 46px;
$brand-width: $brand-height;
.header__logo_img  {
	display: block;
	width: $brand-width;
	height: $brand-height;
	background-image: url(../img/etc/logo--circle--color.svg);
	float: left;
}
.header__logo_text  {
	display: block;
	width: 132px;
	height: $brand-height;
	color: transparent;
	background-image: url(../img/etc/logo--text--color.svg);
	background-size: cover;
	float: left;
}
.header__menu_list {
	@include clear_list;
	font-size: 0px;//fix space
}
.header__menu_item {
	display: inline-block;
}
.header__menu_link {
	display: inline-block;
	color: $color-gray;
	padding: 27px 16px;
	@include clear_link;
	@include font_loader($montserrat, 5, 'n');
	position: relative;
	font-size: 14px;
	line-height: 16px;
	&:first-letter {
		text-transform: uppercase;
	}
	&:before {
		content: "";
		position: absolute;
		width: 0;
		height: 4px;
		left: 0;
		bottom: 0;
		background-color: $color-primary;
		transition: width .4s cubic-bezier(0.1, 0.88, 0.25, 1);
	}
	&:hover,
	&.state-active {
		&:before {
			width: 100%;
		}
		text-decoration: none;
		color: $color-primary;
	}
	&:hover {
		cursor: pointer;
	}
	&.state-active {
		&:hover {
			cursor: default;
		}
	}
	// &--white:before {
	// 	background-color: white;
	// }
	// &--white, &--white:hover, &--white:focus, &--white:active, &--white:visited {
	// 	color: white;
	// 	text-decoration: none;
	// 	color: white;
	// }
}