.home-03 {
  position: relative;
  background:linear-gradient(top, rgba($color-blue-dark,1) 0%, rgba($color-blue-light,1) 100%);
  padding: 120px 0;
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .home {
    &__textbox {
      padding: 0 28px;
      text-align: left;
      &_title {
        @include font_loader($montserrat, 4, 'n');
        margin-bottom: 48px;
        font-size: 36px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: .05em;
      }
      &_text {
        @include font_loader($montserrat, 1, 'n');
        display: block;
        margin: auto;
        font-size: 14px;
        color: $white;
        // .col-lg-3 & { 
        //   width: 90%;
        // }
      }
    }
    &__item {
      text-align: left;
      border: 1px $white solid;
      &_img {
        margin-bottom: 28px;
      }
      &_title {
        @include font_loader($montserrat, 4, 'n');
        margin-bottom: 10px;
        font-size: 20px;
        color: $color-gray-darker;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin-bottom: 24px;
      }
      &_text {
        @include font_loader($montserrat, 1, 'n');
        display: block;
        margin: auto;
        font-size: 14px;
        color: $white;
        // .col-lg-3 & { 
        //   width: 90%;
        // }
      }
    }
  }
}
