@mixin team_member-list-content($color) {
  .team_member-list__item__cover {
    &:first-child {
      background-color: rgba($color,1);
      .team_member-list__item__text {
        color: inherit;
      }
      &:hover {
        background-color: rgba($color,1);
      }
    }
    &:hover {
      background-color: rgba($color,.75);
      .team_member-list__item__text {
        color: $white;
      }
    }
  }
}

.team-03 {
  text-align: center;
  background: $color-gray-ligtest;
  &__container {
    @extend .container;
  }

  .team {

    &__filter-tags {
      @include clear_list;
      margin: 0 0 40px;
      &__item {
        display: inline-block;
        margin: 0 5.5px 10px;
        button {
          @extend .button;
          @extend .button--extra-small;
        }
      }
    }

    &_member-list {
      @include clear_list;
      &__item {
        text-decoration: none;
        &:hover,
        &:focus,
        &:active,
        &:visited {
          text-decoration: none;
        }
        float: left;
        left: 0; //a hack for better filterizr plugin position
        width: 100 / 6 * 1%;
        height: 185px;
        &:first-child {
          .team_member-list__item__text--name {
            color: $color-gray-darkest;
          }
        }
        @media (#{$max_tablets}) {
          height: 150px;
        }
        @media (max-width: 700px) {
          width: 33.3%;
        }
        @media (#{$max_phones}) {
          width: 50%;
        }
        &__cover {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
        &__img {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 100%;
        }
        &__text {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          color: transparent;
          
          &--name  {
            font-size: 24px;
            @include font_loader($montserrat, 1, 'n');
          }
          &--title  {
            font-size: 14px;
            @include font_loader($montserrat, 1, 'n');
          }
        }
      }
      &--ga {
        @include team_member-list-content($color-yellow);
      }
      &--communty {
        @include team_member-list-content($color-orange);
      }
      &--enginering {
        @include team_member-list-content($color-red);
      }
      &--product {
        @include team_member-list-content($color-purple);
      }
    }
  }
}

