.team {
  padding: 80px 0;
  text-align: center;
  background-color: $color-gray-ligtest;
  position: relative;
  @media (#{$max_phones})  {
    padding: 50px 0 70px;
  }
  &__row {
    @extend .container-fluid;
    position: relative;
    max-width: 1140px;
  }
  &__title-box {
    margin-bottom: 60px;
    @media (#{$max_phones}) {
      margin-bottom: 20px;
    }
  }
  &__title {
    @include font_loader($montserrat, 4, 'n');
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 20px;
    letter-spacing: .2em;
    color: $color-gray-darkest;
    @media (#{$max_phones}) {
      font-size: 32px;
    }
  }
  &__description {
    @include font_loader($montserrat, 1, 'n');
    display: inline-block;
    font-size: 20px;
    color: $color-gray;
    max-width: 80%;
  }
}

