.about-03 {
  position: relative;
  background: $white;
  padding-bottom: 120px;
  .about-wave-space {
    height: 343px;
    width: 100%;
    top: 0;
    position: absolute;
    .fix-position {position: relative;}
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .about {
    &__item {
      text-align: center;
      margin: 10px;
    &:hover,
    &:focus,
    &:active {
      opacity: .8;
    }
      /*background: $sky;
      border: $color-gray-lighter 1px solid;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px;*/
    }    
  }
}
