.about-04 {
  position: relative;
  background: $color-gray-ligtest;
  background-image: url('../img/about-wave-btm.svg');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  bottom: 100%;
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .about {
    &__item {
      text-align: center;
      margin-bottom: 56px;
      width: 100%;
      height: 250px;
      @media (#{$max_laptop}) {
        height: 320px;
      }
      @media (#{$max_tablets}) {
        width: 100%;
        height: 280px;
        padding: 0 40px;
      }
      @media (#{$max_phones}) {
        width: 100%;
        height: 360px;
        padding: 0 40px;
      }
      &_img {
        margin-bottom: 48px;
      }
      &_title {
        @include font_loader($montserrat, 4, 'n');
        margin-bottom: 16px;
        font-size: 16px;
        color: $color-gray-darker;
        text-transform: uppercase;
        line-height: 160%;
        letter-spacing: .05em;
      }
      &_subtitle {
        @include font_loader($montserrat, 2, 'n');
        margin-bottom: 24px;
        font-size: 16px;
        color: $color-gray-darker;
        text-transform: uppercase;
        line-height: 160%;
        letter-spacing: .05em;
      }
    }
  }
}
