.cover(style="background-image: url(img/hireing_hero.png)")
  .container
    .cover__content_box.cover__content_box--team
      .col-xs-12.col-md-6.col-lg-5
        h2.cover__title.cover__title--team
          span.cover__title_text.cover__title_text--team
            | 學歷不能阻礙我們認識彼此
        .cover__description_box--team
          span.cover__description_text--team
            | 我們尋求有野心、有膽識、有創業想法、勇於挑戰自我、喜歡 Hackathon、熱愛學習以及關注新技術的人才。我們清楚學歷無法完全代表一個人，更不可能阻礙我們認識彼此，只要態度良好、願意學習，能力一定有所發揮。
.container(style='width: 100%; height: 860px;')
