.cover(style="background-image: url(img/team_hero.svg)")
  .container
    .cover__content_box.cover__content_box--team
      .col-xs-12.col-md-6.col-lg-5
        h2.cover__title.cover__title--team
          span.cover__title_text.cover__title_text--team
            | 我們的團隊
        .cover__description_box--team
          span.cover__description_text--team
            | 我們讓開發和運維結合，高速迭代、全速創新，把對用戶和社區的承諾融入程式碼，釋放創新的原動力。我們全力以赴 — You never seen the last of us！
.container(style='width: 100%; height: 860px;')
